@charset "utf-8";


*{
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

body{
  background-color: grey;
}

.geral{
	width: 100%;
	margin: 0;
	padding: 0;
}

.topo{
	width: 100%;
	height: 450px;
	background-image:url('../img/banner.jpg');
}

.menu{

  width:100%;
	height:50px;
  position:-webkit-sticky;
	position:sticky;
	top:0;
	text-align:center;
  background-color: black;

}

.menu ul{

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: red;
}

.menu ul li {
  display:inline-block;
  text-align:center;

}

.menu ul li a {
  display: block;
  color:red;
  text-align: center;
  padding: 14px 16px;
  width:120px;
  text-decoration: none;
  font-family: 'Shippori Mincho B1', serif;
  text-align:center;
}

.menu ul li a:hover {
  border-bottom:4px solid #8B0000;
}

.conteudo{
  width: 100%;
  height: 500px;
}

.conteudo1{
  width:40%;
	padding:100px;
	float:left;
  font-size: 1.3em;
  text-align: justify;
}

.conteudo1 h1{
  text-align: center;
  font-size: 1.5em;
}

.foto{
  padding-top: 50px;
  padding-left: 50px
}

.conteudo3{
  text-align: center;
  font-size: 1.8em;
  text-decoration: underline red;
  height: 200px;
}

.rodape{
  width:100%;
	line-height:80px;
	text-align:center;
  background-color:#8B0000;

}
